@import 'mixins';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 100%;
}
#container{
    @include widthAndHeight(80%,100%);
    box-shadow: 0 0 20px black ;
    margin: auto;
    border-radius: 10px;
}
#Wrapper{
    @include widthAndHeight(100%,100vh);
    background-color: rgb(109, 58, 109);
    padding: 1% 1% 2% 1%;
}
#header{
    @include widthAndHeight(100%,20%);
    @include flex(center,center);
    margin: auto;
    background-color: blueviolet;
    border-radius: 10px 10px 0 0 ;
}
#convert{
    @include widthAndHeight(100%,70%);
    @include grid(repeat(20,5%),repeat(10,10%));
    align-items: center;
    #currencyamount{
        grid-area: 3 / 10 / span 5 / span 5 ;
        transform: translateX(10px);
        height: 100%;
        font-size: 1.5rem;
    }
    #currency1{
        grid-area: 1 / 4 / span 4 / span 6 ;
        height: 100%;
        font-size: 1.3rem;
    }
    #swap{
        grid-area: 3 / 3 / span 5 / span 1 ;
        @include flex(center,center);
        @include widthAndHeight(80%,100%);
        background-color: white;
        font-size: 1.5rem;
        margin: auto;
        transform: rotate(90deg);
    }
    #currency2{
        grid-area: 6 / 4 / span 4 / span 6 ;
        height: 100%;
        font-size: 1.3rem;
    }
    #form-submit{   
        grid-area: 3 / 15 /span 5 / span 4;
        transform: translateX(15px);
        @include widthAndHeight(100%,100%);
        font-size: 1.5rem;
    }
}
#main{
    @include widthAndHeight(100%,80%);
    margin: auto;
    background-color: white;
    border-radius: 0 0 10px 10px; 
}
#conversion{
    @include widthAndHeight(95%,15%);
    @include flex(center,center);
    font-size: 2rem;
    margin: auto;
    border-bottom: 1px solid black;
}
#chart{
    height: 85%;
    border-radius: 0 0 10px 10px; 
    padding-bottom: 1%;
    #selectedCurrency{
        @include widthAndHeight(85%,15%);
        @include flex(center,center);
        margin: auto;
        font-size: 1.5rem;
    }
    #entries{
        @include widthAndHeight(85%,85%);
        margin: auto;
        display: grid; 
        grid-template-columns: repeat(5,20%);
        grid-auto-rows: 15%;
        overflow: scroll;
        scrollbar-width: none;
        
    }
}
.chartItem{
    @include widthAndHeight(90%,90%);
    @include flex(center,center);
    margin: auto;
    transition: 0.5s;
}
.chartItem:hover{
    transform: scale(1.05);
    color: grey;
}
.button{
    @include widthAndHeight(100%,100%);
    border-radius: 10px;
    transition: box-shadow 0.5s;
}
.button:hover{
    box-shadow: 0 0 10px black ;
}
.button:active{
    color: rgb(167, 166, 166);
}


@import 'media-queries';