* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 100%;
}

#Wrapper {
  width: 100%;
  height: 100vh;
  background-color: #6d3a6d;
  padding: 1% 1% 2% 1%;
}

#container {
  width: 80%;
  height: 100%;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  margin: auto;
  border-radius: 10px;
}

#header {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: blueviolet;
  border-radius: 10px 10px 0 0;
}

#convert {
  width: 100%;
  height: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10%)[10];
  -ms-grid-columns: (5%)[20];
      grid-template: repeat(10, 10%)/repeat(20, 5%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#convert #currencyamount {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 10;
  -ms-grid-column-span: 5;
  grid-area: 3 / 10 / span 5 / span 5;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  height: 100%;
  font-size: 1.5rem;
}

#convert #currency1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 1 / 4 / span 4 / span 6;
  height: 100%;
  font-size: 1.3rem;
}

#convert #swap {
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / span 4 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  background-color: white;
  font-size: 1.5rem;
  margin: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#convert #currency2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 6 / 4 / span 4 / span 6;
  height: 100%;
  font-size: 1.3rem;
}

#convert #form-submit {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 15;
  -ms-grid-column-span: 4;
  grid-area: 3 / 15 /span 5 / span 4;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

#main {
  width: 100%;
  height: 80%;
  margin: auto;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

#conversion {
  width: 95%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: auto;
  border-bottom: 1px solid black;
}

#chart {
  height: 85%;
  border-radius: 0 0 10px 10px;
  padding-bottom: 1%;
}

#chart #selectedCurrency {
  width: 85%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-size: 1.5rem;
}

#chart #entries {
  width: 85%;
  height: 85%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  grid-auto-rows: 15%;
  overflow: scroll;
  scrollbar-width: none;
}

.chartItem {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.chartItem:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: grey;
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.button:hover {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.button:active {
  color: #a7a6a6;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  html {
    font-size: 80%;
  }
  #container {
    width: 95%;
  }
  #header {
    width: 100%;
    height: 30%;
  }
  #convert {
    width: 100%;
    height: 90%;
  }
  #convert #currencyamount {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 15;
    grid-area: 6 / 3 / span 2 / span 15;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #convert #currency1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 15;
    grid-area: 2 / 3 / span 2 / span 15;
  }
  #convert #swap {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 18;
    -ms-grid-column-span: 4;
    grid-area: 3 / 18 / span 2 / span 4;
  }
  #convert #currency2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 15;
    grid-area: 4 / 3 / span 2 / span 15;
  }
  #convert #form-submit {
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 15;
    grid-area: 8 / 3 / span 2 / span 15;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #main {
    width: 100%;
    height: 70%;
  }
  #conversion {
    width: 95%;
    height: 12%;
    font-size: 1.1rem;
  }
  #chart {
    height: 88%;
  }
  #chart #selectedCurrency {
    font-size: 1.5rem;
  }
  #chart #entries {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 10%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 80%;
  }
  #convert #currencyamount {
    -ms-grid-row: 8;
    -ms-grid-row-span: 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-area: 8 / 4 / span 5 / span 9;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #convert #currency1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-area: 2 / 2 / span 3 / span 9;
  }
  #convert #swap {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-area: 6 / 9 / span 2 / span 4;
  }
  #convert #currency2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 11;
    -ms-grid-column-span: 9;
    grid-area: 2 / 11 / span 3 / span 9;
  }
  #convert #form-submit {
    -ms-grid-row: 8;
    -ms-grid-row-span: 5;
    -ms-grid-column: 13;
    -ms-grid-column-span: 5;
    grid-area: 8 / 13 /span 5 / span 5;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #conversion {
    font-size: 1.3rem;
  }
  #chart #selectedCurrency {
    font-size: 1.5rem;
  }
  #chart #entries {
    -ms-grid-columns: (33.333%)[3];
        grid-template-columns: repeat(3, 33.333%);
    grid-auto-rows: 15%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 85%;
  }
  #convert #currencyamount {
    -ms-grid-row: 8;
    -ms-grid-row-span: 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-area: 8 / 4 / span 5 / span 9;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #convert #currency1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-area: 2 / 2 / span 3 / span 9;
  }
  #convert #swap {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-area: 6 / 9 / span 2 / span 4;
  }
  #convert #currency2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 11;
    -ms-grid-column-span: 9;
    grid-area: 2 / 11 / span 3 / span 9;
  }
  #convert #form-submit {
    -ms-grid-row: 8;
    -ms-grid-row-span: 5;
    -ms-grid-column: 13;
    -ms-grid-column-span: 5;
    grid-area: 8 / 13 /span 5 / span 5;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #conversion {
    font-size: 1.3rem;
  }
  #chart #selectedCurrency {
    font-size: 1.5rem;
  }
  #chart #entries {
    -ms-grid-columns: (33.333%)[3];
        grid-template-columns: repeat(3, 33.333%);
    grid-auto-rows: 15%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 90%;
  }
  #convert #currency1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-area: 1 / 3 / span 4 / span 7;
  }
  #convert #swap {
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / span 4 / span 1;
  }
  #convert #currency2 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-area: 6 / 3 / span 4 / span 7;
  }
  #conversion {
    font-size: 1.3rem;
  }
  #chart #selectedCurrency {
    font-size: 1.5rem;
  }
  #chart #entries {
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 15%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 100%;
  }
}
/*# sourceMappingURL=Currency-Converter.css.map */